/*=========================
= Table of CSS
	1.General code
		1.1 Typography
		1.2	Space margins and padding
		1.3 background-colors and bg-img
		1.4 forms
		1.5 Buttons
	2.Homepages
		2.1 Navigation
		2.2 Banner Section
		2.3 About Section
		2.4 Services Section
		2.5 Product Sucesss
		2.6 Portfolio Section
		2.7 Achivements Section
		2.8	Testimonial-section
		2.9 Pricing Section
		2.10 Blog Section
		2.11 Contact us Section
		2.12 Footer Section
			2.12.1 footer-bottom
	3.About us
	4.Our Services
	5.Project Gallery
	6.Team Memebers
	7.Pricing
	8.Blog
	9.Blog Dettails
	10.FAQ
	11.Comming Soon
	12.404
	13.Contact us
	14.Responsiveness
===================================*/

/*======================
	1.General Code
==========================*/

/*--------animation---------*/

@-webkit-keyframes ripple{
  0% {-webkit-transform:scale(1); }
  75% {-webkit-transform:scale(1.75); opacity:1;}
  100% {-webkit-transform:scale(2); opacity:0;}
}

@keyframes ripple{
  0% {transform:scale(1); }
  75% {transform:scale(1.75); opacity:1;}
  100% {transform:scale(2); opacity:0;}
}

html{
	overflow-x:hidden;
}

body {
  position: relative;
  font-family: 'Rubik', sans-serif;
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  line-height: 28px;
  overflow-x: hidden;
  font-weight: 400;
  color: #555b62;
  left: 0;
  background-color:#fff;
  transition: 0.3s;
}
.section-padding{
	padding:120px 0;
}

.section-title-center {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 50px;
  word-break:break-word;
}
.section-title-center p{
	font-size:15px;
}




.primary-overlay{
	position:relative;
	z-index:1;
}


.primary-overlay:before{
	content:"";
	position: absolute;
	width:100%;
	height:100%;
	top:0;
	z-index:-1;
	left:0;
	background-color:#14366c66;
}
.col-content-center{
	display:flex;
	flex-direction:column;
	justify-content:center;
}
.col-content-right{
	text-align: right;
	display:flex;
	flex-direction:column;
	justify-content:right;
}
.seperator{
	width:100%;
	height:1px;
	background-color:rgba(255,255,255,0.1);
}
.slick-slide:focus{
	outline:none;
}
.exp-img-wrapper{
	margin:20px 0;
}
.mfp-fade{
	animation:fadeIn .3s ease-in;
}
.mfp-fade.mfp-removing{
	animation:fadeInOut .3s ease-out;
}
.slick-modified-dots{
	text-align:center;
	padding:50px;


}

.slick-modified-dots li{
	display:inline-block;
	margin:0 5px;
	cursor:pointer;

}
.slick-modified-dots li button:focus{
	outline:0;
}

.slick-modified-dots li button{
	border-radius:50%;
	border:none;
	width:15px;
	height:15px;
	color:transparent;
	vertical-align:middle;
	transition:.3s;
	cursor:pointer;
	background-color:#ff8400;
	opacity:.5;
}
.slick-modified-dots li.slick-active button{
	width:35px;
	height:7px;
	border-radius:10px;
	opacity:1;

}
.exp-stylish-border{
	position:relative;
	width:100%;
}
.exp-stylish-border:before{
	position: absolute;
    content: "";
    top: -95px;
    left: 90px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 200px solid #ff8400;
    transform: rotate(88deg);
    border-radius: 50px;
    z-index: 2;
}
.shadow-hover:hover{
	box-shadow:0 0 50px rgba(0,0,0,0.2);
}
.before-none:before{
	display:none;
}
.tab-pane{
	animation:fadeIn .3s ease-in;
}
.border-l-r{
	border-left:1px solid #eee;
	border-right:1px solid #eee;
}

/*----------------------
	1.1. Typography
------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222;
  margin: 0 auto 20px;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  width: 100%;
  word-break:break-word;
  line-height:1.4;
}

h1 {
  font-size: 45px;
  margin-bottom: 30px;
  font-weight:700;
  line-height:1.2;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
  font-weight: 500;
}

h6 {
  font-size: 20px;
  margin-bottom:10px;
}

p {
  font-size: 15px;
  line-height: 30px;
  margin-bottom: 15px;
  font-weight: normal;
  word-break:break-word;
  font-family: 'Rubik', sans-serif;
}

a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
  font-weight: normal;
  color: #000;
  cursor: pointer;
  font-family: 'Rubik', sans-serif;
  word-break:break-word;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
  color: #ff8400;
}
button:focus,
button:hover{

	cursor:pointer;
	outline:0;

}


blockquote {
  background: #f4f4f4;
  position: relative;
  padding: 20px;
  line-height: 25px;
  border-left: 5px solid #eee;
}

blockquote p {
  color: #022147;
  font-size: 16px;
  font-weight: normal;
  word-break:break-word;
}

blockquote h6 {
  color: #ff6a48;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 15px;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
}

ul {
  padding: 0;
  margin-bottom:0;
}

li {
  list-style: none;
}

article {
  margin: 0 auto 40px;
}

article h2 a {
  color: #000;
}
select {
    background: #fff4d9 none repeat scroll 0 0;
    border: 1px solid #eeecec;
    color: #555555;
    font-size: 14px;
    height: 38px;
    padding: 0 20px;
    width: 100%;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 15px;
}
table {
    border: 1px solid #ccc;
    padding: 15px;
}

/*color and background
============================================*/

/* Color Theme Swatches in Hex 
Hover = #b15c02
*/
.RNT-1-hex { color: #FF8400; }
.RNT-2-hex { color: #14366C; }
.RNT-3-hex { color: #E7E4E3; }
.RNT-4-hex { color: #838C7D; }
.RNT-5-hex { color: #0D0D0D; }
.RNT-1-hover { color: rgb(177, 92, 2); }
.RNT-2-hover { color: #102d5c; }
.RNT-3-hover { color: #c7bfbc; }
.RNT-4-hover { color: #636b5e; }
.RNT-5-hover { color: #363636; }

.exp-primary-color{
	color:#ff8400;
}
.exp-txt-color{
	color:#838C7D;
}
.light-color{
	color:#E7E4E3;
}
.exp-primary-bg{
	background-color:#14366C;
}
.exp-secondary-bg{
	background-color:#838C7D;
}
.light-bg{
	background-color:#E7E4E3;
}
.exp-gold{
	color:#ffae00;
}
.exp-dark-bg{
	background-color:#0D0D0D;
}
.shout-color{
	color:#da6a56;
}
.code-color{
	color:#ff9a5d;
}
.bulb-color{
	color:#8568ff;
}
.cart-color{
	color:#5baff8;
}
.shout-icon-block:before{
	background-color:#f0f3fd;
}
.code-icon-block:before{
	background-color:#fff6f0;
}
.bulb-icon-block:before{
	background-color:#f3f0ff;
}
.code-icon-block.cart-icon-block:before{
	background-color:#edf6fe;
}
.blue-gradient{
	background:linear-gradient(to left , #627eec,#9baefd);
}
.orange-gradient{
	background:linear-gradient(to left , #ff9458,#ffc37a);

}
.purple-gradient{
	background:linear-gradient(to left , #9b5ef7,#c097fc);

}
.green-gradient{
	background:linear-gradient(to left , #64c873,#76ec88);

}
.video-btn i{
	color:#1c4689;
}

/*Spacing and alignment
============================================*/
.inline-block li{
	display:inline-block;
}
.btn-top-20{
	margin-top:20px;
}
.btn-top-70{
	margin-top:70px;
}
.btn-top-50{
	margin-top:50px;
}

.margin-top-20{
	margin-top:22px;
}

.padding-right-0{
	padding-right:0;
}
.title-padding-right{
	padding-right:60px;
}




/*Buttons
==========================================*/

.btn-primary{
  color: #E7E4E3;
  background-color: #ff8400;
  border-color: #ff8400;
  box-shadow: 0 0 12px rgba(255, 132, 0, 0.75);
  transition:.3s;
  padding:10px 30px;
  border-radius:50px;
  -webkit-transition:.3s;

}
.btn-link:focus,
.btn-link:hover{
	text-decoration:none;
}

.btn-primary:hover,
.btn-primary:focus,
.ms-btn-icon-outline.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:hover{
  background-color: #e67701;
  border-color: #e67701;
  color: #E7E4E3;
  box-shadow: 0 0 15px rgba(255, 132, 0, 1);

}
.btn-secondary{
  color: #14366C;
  background-color: #E7E4E3;
  border-color: #E7E4E3;
}
.btn-secondary:hover,
.btn-secondary:focus,
.ms-btn-icon-outline.btn-secondary:focus,
.btn-secondary:not(:disabled):not(.disabled):active,
.btn-outline-secondary:hover{
  color: #E7E4E3;
  background-color: #14366C;
  border-color: #14366C;
}

.exp-slick-dots li{
	display:inline-block;
	border-radius:50%;

}
.exp-slick-dots li button{
	border-radius:50%;
	border:0;
	width:12px;
	height:12px;
	margin-right:10px;
	color:transparent;
	opacity:.5;
	transition:.3s;
}
.exp-slick-dots li button:focus{
	outline:none;
}
.circle {
  height:90px;
  width:90px;
  border-radius:50%;
  background-color:#fff;
  cursor:pointer;
  position:relative;
  display:flex;
  justify-content: center;
  align-items: center;
  -webkit-transition:height .25s ease, width .25s ease;
  transition:height .25s ease, width .25s ease;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}


.circle:before,
.circle:after {
  content:'';
  display:block;
  position:absolute;
  top:0; right:0; bottom:0; left:0;
  border-radius:50%;
  border:1px solid rgba(255,255,255,0.5);
}

.circle:before {
  -webkit-animation: ripple 2s linear infinite;
  animation: ripple 2s linear infinite;
}
.circle:after {
  -webkit-animation: ripple 2s linear 1s infinite;
  animation: ripple 2s linear 1s infinite;
}

.circle:hover:before,
.circle:hover:after {
  -webkit-animation: none;
  animation: none;
}


.video-btn{
  border-radius:50%;
  width:50px;
  height:50px;
  border:0;
  display:flex;
  justify-content: center;
  align-items: center;
  z-index:1;
  background-color:inherit;
}




/* #Navigation
================================================== */

.start-header {
	opacity: 1;
	transform: translateY(0);
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
	background-color:transparent;
	padding:20px 0;
	padding-top:0;

}


.start-header.scroll-on{
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
	background-color:#253c61;
	padding:0;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.start-header.scroll-on .navbar-light .navbar-nav .nav-link{
	padding:25px 15px;
}

.start-header.scroll-on .seperator{
	display:none;
}

 .row:before,
 .row:after{
	display:inline-block;
}

.start-header .navbar ul{
	top:30px;
}

.navigation-wrap{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navbar{
	padding: 0;
}
.navbar-brand{
	padding:0;
	margin:0;
}

.navbar-brand img{
	width: auto;
	display: block;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navbar-toggler {
	float: right;
	border: none;
	padding:0;
}
.navbar-toggler:active,
.navbar-toggler:focus {
	outline: none;
}
.navbar-light .navbar-toggler-icon {
	width: 24px;
	height: 17px;
	background-image: none;
	position: relative;
	border-bottom: 2px solid #ff8400;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after,
.navbar-light .navbar-toggler-icon:before{
	width: 24px;
	position: absolute;
	height: 2px;
	background-color:#ff8400;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after{
	top: 8px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}
.navbar-light .navbar-nav .nav-link{
	color: #E7E4E3;
	font-weight:400;
	letter-spacing:.5px;
	padding:30px 15px;
	position:relative;
    transition: all 200ms linear;
}

.navbar-light .dropdown-item{
	border-bottom:1px solid rgba(0,0,0,0.1);
	font-size:14px;
	padding:10px;
}
.navbar-light .dropdown-item:hover{
	color:#ff8400;
	background-color:transparent;
}

.navbar-light .dropdown-item:last-child{
	border:0;
}
#searchLink .dropdown-toggle:after{
	display:none;
}
.dropdown-item.active,
.dropdown-item:active{
	background-color:transparent;
	color:#ff8400;
}
.navbar-light .dropdown-menu{
	padding:0;
	border-radius:0;
	border:0;
	margin-top:0;
	box-shadow: 0 0 12px rgba(0,0,0,0.1);
	background-color: #E7E4E3;
}


/*---------Mega Menu--------------*/


.mega-menu{
	left:0;
	width:100%;
	background:#fff;
}
.mega-menu .mega-menu-inner{
	padding:20px;
}
.mega-menu .mega-menu-inner .dropdown-item{
	padding:10px 0;
}


/*----------END Mega Menu-------------------*/






.nav-item:hover:after{
	bottom: 0;
	opacity: 1;
}
.nav-item.active:hover:after{
	opacity: 0;
}
.nav-item{
	position: relative;
    transition: all 200ms linear;
}
.nav-item.mega-menu-link{
	position:static;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover{
	color:#ff8400;
}
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link{
	color:#ff8400;
}


.close-search{
	display:none;
}




button#searchsubmit{
	line-height:inherit;
	border-radius:0;
	background-color:#ff8400;
	color:#fff;

}
#searchLink a{
	color:#fff;
	padding:5px 15px;
}

#searchbox {

	box-shadow: none;
	padding: 8px 14px;
}
#searchbox:hover {
	box-shadow: none;
}

#searchform .form-control:focus {
	border-color: #ccc;
	outline:0;
}

/* #Banner
================================*/
#exp-inner-banner{
	background-image: url(/assets/img/landingPage2.png);
	background-size:cover;
	background-position:center;
}
.exp-banner-head .section-title-center h1{
	margin-bottom:10px;
}
.exp-banner-head .exp-banner-title{
	padding:200px 0;
}
.exp-banner-head .exp-banner-title p{
	margin-bottom:0;
}
.exp-banner-head .exp-banner-title p span:before{
	content:".";
	font-size:25px;
	vertical-align:text-bottom;
	padding:0 10px;
	color:#fff;

}
.banner-padding{
	padding:300px 0;
}



/* #index
==========================================*/
.exp-home5-header,
.exp-home5-values{
	background-image:url('/assets/img/landingPage2.png');
	background-size:cover;
	background-position:center;
	position:relative;

 }
 .exp-home5-header.banner-padding{
 	padding-bottom:220px;
 }

.exp-home5-header.primary-overlay:before{
	/* background-color:rgba(59,69,91,0.9); */
}

.exp-home5-header .slick-modified-dots{

	transform:translateY(100%) translateX(-150px);
	text-align:right;
	position: relative;
	padding:30px;
	top:100px;
}

.exp-home5-header .slick-modified-dots button{
	background-color:#fff;
}


.exp-home5-header form{
	margin-top:70px;
}
.exp-home5-header p{
	padding-right:70px;
}

.exp-home5-header .col-lg-4.col-content-center{
	align-items: flex-end;
}

.exp-home5-header form .input-group input{
	width:300px;
	border:1px solid #a7a7ad;
	background-color:inherit;
	padding:10px 15px;
	margin-top:0px;
}
.exp-home5-header form .input-group input::placeholder{
	color:#a7a7ad;
}

.exp-home5-header form .input-group-append{
	margin-left:10px;
	padding-bottom: 20px;
}
.exp-home5-header form .input-group-append button{
	border-radius:0;
	margin-top:20px;

}
.exp-home5-values{
	padding-bottom:0;
}

.exp-home5-video{
	position: relative;
	bottom:-150px;
}

.exp-home5-video .video-content{
	max-width:900px;
	margin:0 auto;
	min-height:400px;
	background-image:url('https://via.placeholder.com/1920X579');
	background-size:cover;
	background-position:center;
	position:relative;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius:10px;
	overflow: hidden;
	box-shadow: 0 20px 5px -6px #fff, 0 20px 6px -6px rgba(0,0,0,0.2);


}
.secondary-overlay{
	position:relative;
	z-index:1;

}
.secondary-overlay:before{
	content:'';
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.2);
}

.exp-home5-testimonial.section-padding{
	padding-top:280px;
}












/* #About Us Page 1
==========================================*/


.exp-about-product2 .exp-num-block{
	margin-right:20px;
}

.exp-about-product2 .exp-num-block p{
	width:40px;
	height:40px;
	border-radius:50%;
	display:flex;
	justify-content:center;
	align-items: center;
	color:#fff;

}
.exp-about-product2  .exp-points{
	padding-top:30px;
	padding-right: 10px;
}
.exp-about-product2  .exp-points h6{
	margin-bottom:10px;
}
.exp-about-video .exp-product-points{
	padding:20px 0;
}
.exp-about-video .exp-product-points li i{
	color: #61d09f;
    margin-right: 20px;
    font-size: 18px;
    font-weight: 600;
}
.exp-about-video .exp-product-points li{
	margin-bottom:10px;
	font-weight:500;
}
.exp-about-video .exp-tab-wrap{
	margin-top:20px;
	display:block;
	margin-bottom:0;
	margin-left:40px;
}
.exp-about-video .video-item{
	position:relative;
	margin:0 10px;
}
.exp-about-video .vid-btn{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.exp-about-video .about-video-wrap{
	display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    position: absolute;
    left: 49%;
    top: 0;
    justify-content: center;
    transform: translate(-49.9%, 0%);
    align-self: center;
}
.exp-about-video .tab-pane{
	padding:0;
}

.exp-about-video .vid-btn .video-btn{
	width:90px;
	height:90px;
	background-color:#fff;
}
.exp-about-video .col-lg-8{
position: absolute;
    right: -15px;
    width: auto;
    left: 45%;
}
.blue-top{
	position:relative;
	width:100%;

}

 .blue-top:after{
	content:'';
	position:absolute;
	top:-50px;
	right:0;
	width:100%;
	z-index:-1;
	height:200px;
	background-color:#2258ae;
}

.exp-about-workflow .workflow-item{
	padding:30px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	border-radius:10px;
	background-color:#fff;
	margin-top:20px;
}
.exp-about-workflow .workflow-item p{
	margin-bottom:0;
}
.exp-about-workflow .exp-workflow-content{
	margin:20px 0;
}

.exp-about-workflow .container-wrapper .exp-img-wrapper.left-side:after
{
	z-index:0;
}
.exp-about-workflow .video-img .img-wrap{
	z-index:1;
}
.exp-about-workflow .video-img .video-btn-wrapper{
	z-index: 2;
	margin-right:0;

}

.exp-about-workflow .workflow-item .icon-block{
	width:60px;
	height:60px;
	display:flex;
	justify-content:center;
	align-items:center;
	background-color:#ff930d;
	border-radius:10px;
	color:#fff;
	font-size:25px;
	margin-bottom:20px;
}


.exp-about-testimonial .testimonial-item {
	width:100%;
	display:flex;
	justify-content: center;

}
.exp-about-testimonial .testimonial-item .testimonial-content .author span{
	width:50px;
	height:2px;
	margin-top:12px;
	opacity:1;
	background-color:#ff8400;
}
.exp-about-testimonial .testimonial-item .author{
	display:flex;
	position:relative;
	margin:20px 0;
}
.exp-about-testimonial .testimonial-item .author div{
	margin-left:20px;
}


.exp-about-testimonial .testimonial-item .author  div p{
	margin:0;
}

.exp-about-testimonial .testimonial-item .testimonial-content{
	max-width:650px;
	padding:0 70px;

}
.exp-about-testimonial .testimonial-item .testimonial-content p{
	margin:20px 0;


}

.exp-about-testimonial .testimonial-item .testimonial-content span{
	font-size:40px;
	color:#ff8400;
	opacity:.3;
}

.exp-about-testimonial .testimonial-item .testimonial-content span i{
	position: relative;
	top:5px;
}

.exp-about-testimonial .slick-modified-dots{
	padding:0;
	bottom:20px;
	position:absolute;
	width:100%;
}
.exp-about-testimonial .exp-about1-slider .slick-arrow:before,
.exp-home2-portfolio .slick-arrow:before{
	color:#222;
}
.exp-about-testimonial .exp-about1-slider .slick-arrow{
	position:absolute;
	right:20%;
	margin-top:13%;
	width:80px;
	height:60px;
	border:1px solid silver;

}


.exp-about-testimonial .exp-about1-slider .slick-arrow:focus,
.exp-home2-portfolio .slick-arrow:focus{

	border:1px solid #ff8400;
}

.exp-about-testimonial .testimonial-content ul li{
	margin-right:5px;
}

.exp-about-testimonial .exp-about1-slider .slick-arrow:focus:before,
.exp-home2-portfolio  .slick-arrow:focus:before{
	color:#ff8400;

}

.exp-about1-slider .slick-prev{
	left:65.6%;
}





/* #Services Page 2
===============================*/
.exp-services-2 .exp-services-wrapper{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items: center;
	text-align: center;
	margin:15px 0;
	padding:40px 30px;
	border-radius:10px;
	transition:.3s;
	position:relative;
	overflow:hidden;
	box-shadow: 0 1px 12px -2px rgba(0,0,0,0.1);

}
.exp-services-2 .exp-services-wrapper:after{
	content:"";
	position:absolute;
	top:-160px;
	right:-160px;
	background-image:url('../img/dots.png');
	background-size:contain;
	background-repeat:no-repeat;
	width:250px;
	height:250px;
	opacity:.1;
	display:none;
	transform:rotate(220deg);

}
.exp-services-2 .exp-services-wrapper:before{
	content:"";
	position:absolute;
	bottom:-160px;
	left:-160px;
	background-image:url('../img/dots.png');
	background-size:contain;
	background-repeat:no-repeat;
	width:250px;
	height:250px;
	display:none;
	opacity:.1;
	transform:rotate(220deg);

}
.exp-services-2 .exp-services-wrapper:hover:before,
.exp-services-2 .exp-services-wrapper:focus:before,
.exp-services-2 .exp-services-wrapper:hover:after,
.exp-services-2 .exp-services-wrapper:focus:after{
	display:block;
}



.exp-services-2 .exp-services-wrapper:hover,
.exp-services-2 .exp-services-wrapper:focus{
	box-shadow: 0 0 30px rgba(0,0,0,0.1);
}
.exp-services-2 .exp-services-wrapper:hover .exp-arrow a,
.exp-services-2 .exp-services-wrapper:focus .exp-arrow a{
	border:1px solid #ff8400;
	color:#ff8400;
}

.exp-services-2 .exp-services-content h6
.exp-services-2 .exp-services-content p{
	margin-bottom:0;
}

.exp-services-2 .exp-services-wrapper .exp-icon-block span{
	width:80px;
	height:80px;
	display:flex;
	justify-content:center;
	align-items: center;
	border-radius:50%;
	color:#fff;
	font-size:30px;
	box-shadow:0 0 3px rgba(0,0,0,0.2);

}

.exp-services-2 .exp-services-wrapper .exp-services-content{
	padding:30px 0;
}
.exp-services-2 .exp-services-wrapper .exp-arrow a{
	width:50px;
	height:50px;
	border-radius:50%;
	display:flex;
	justify-content:center;
	align-items:center;
	color:#969697;
	border:1px solid #969697;
	transition:.3s;
}



/* #Team Page 2
======================================*/
.exp-team-2 .exp-team-item{
	margin:15px 0;
}
.exp-team-2 .exp-team-item img{
	width:100%;
}

.exp-team-2 .exp-team-item .exp-team-img{
	border-radius:10px;
	overflow:hidden;
	position:relative;
}
.exp-team-2 .exp-team-item:hover .exp-team-content{
	transform:translateY(0);
	opacity:1;
}
.exp-team-2 .exp-team-item:hover .exp-team-img img{
	filter: blur(2px);
  -webkit-filter: blur(2px);
}

.exp-team-2 .exp-team-item .exp-team-content{
	text-align:center;
	background-color:#fff;
	box-shadow:2px 2px 20px rgba(0,0,0,0.1);
	padding:30px 0;
	position:absolute;
	width:100%;
	bottom:0;
	z-index:2;
	transform:translateY(180px);
	transition:.3s;
	opacity:0;
	border:1px solid #eee;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;


}
.exp-team-2 .exp-team-item .exp-team-content h6,
.exp-team-2 .exp-team-item .exp-team-content p{
	margin-bottom:5px;
}

.exp-team-2 .exp-team-item .exp-team-content ul li a{
	width:36px;
	height:36px;
	display:flex;
	justify-content:center;
	align-items:center;
	background-color:#fff;
	color:#ff8400;
	border-radius:50%;
	margin:10px 5px;
	border:1px solid rgba(255,132,0,0.3);
}
.exp-team-2 .exp-team-item .exp-team-content ul li a:hover{
	background-color:#ff8400;
	color:#fff;
}


/* #Contact 1
================================*/
.exp-contact-1 .exp-contact-form{
	margin-top:50px;
}
.exp-contact-1 .exp-contact-form .form-group{
	margin-bottom:30px;
}

.exp-contact-1 .exp-contact-form  .form-control{
	padding:20px;
	border-radius:50px;
	margin:10px 0;
	border-color:#eee;
	transition:box-shadow .3s ease-in;
}
.exp-contact-1 .exp-contact-form  .form-control:focus{
	border:none;
	box-shadow: 0 0 25px .5px rgba(0,0,0,0.1);
}

.exp-contact-1 .exp-contact-form .form-control.contact{
	border-radius:20px;
}
.exp-contact-1 button.send{
	padding:15px 40px;
}
.exp-contact-1 .exp-contact-card{
	display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #eee;
    width: 70%;
    height: 76%;
    padding: 20px 57px;
    margin: 0 auto;
    border-radius:20px;
}
.exp-contact-1 .exp-contact-info p{
	margin-bottom:25px;
}
.exp-contact-1 .exp-contact-info span{
	margin-bottom:30px;
	width:50px;
	height:50px;
	display:flex;
	justify-content: center;
	align-items:center;
	font-size:25px;
	color:#ff8400;
	border:1px solid #ff8400;
	border-radius:50%;

}
.exp-contact-1 .exp-contact-icons{
	margin-top:30px;
}
.exp-contact-1 .exp-contact-icons li a{
	width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #ff8400;
    border-radius: 50%;
    margin: 10px 2px;
    border: 1px solid rgba(255,132,0,0.3);
}
.exp-contact-1 .exp-contact-icons li a:hover{
	background-color:#ff8400;
	color: #fff;
}
/* #Coming Soon 1
===================================*/
.exp-coming-1,
.exp-coming-2{
	background-image:url('https://via.placeholder.com/1920X579');
	background-size:cover;
	background-position:center;
}
.exp-coming-1 .col-content-center{
	align-items: center;
}

.exp-coming-1 .exp-logo{
	margin-bottom:50px;
}
.exp-coming-1 .section-title-center{
	padding-bottom:0;
}

.exp-coming-1 .section-title-center h1{
	margin-bottom:10px;
}
.exp-coming-1 .section-title-center p{
	color:#8c98b1;
}
.exp-coming-1 .circle-wrap{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}
.exp-coming-1 .circle-wrap p{
	margin-top:10px;
	color:#fff;
}
.exp-coming-1 .countdown .col-content-center:after{
	content:".";
	font-size:20px;
	color:#fff;
	position:absolute;
	left:100%;
	top:100px;
}
.exp-coming-1 .countdown .col-content-center:last-child:after{
	display:none;
}

.exp-coming-1 .countdown{
	margin:150px auto;
}

.exp-coming-1 .circle-fill{
	position:relative;
}
.exp-coming-1 .circle-fill .progress-circle{
	 transform: rotate(-90deg);
	 margin-left:50px;
}
.progress-circle-back {
	fill: none;
	stroke: #ff8400;
	opacity:.3;
	stroke-width:3px;
}
.progress-circle-prog {
	fill: none;
	stroke-width: 5px;
	stroke-dasharray:0;
	stroke-dashoffset: 0px;

}
.progress-circle-prog.prog-2.fill-mode{
	stroke: #ff8400;
	stroke-dasharray:250;
	transition: stroke-dasharray 2s ease-in;
}
.progress-circle-prog.prog-3.fill-mode{
	stroke: #ff8400;
	stroke-dasharray:350;
	transition: stroke-dasharray 2s ease-in;
}



.progress-circle-prog.fill-mode{
	stroke: #ff8400;
	stroke-dasharray:400;
	transition: stroke-dasharray 2s ease-in;


}

.progress-text {
	width: 100%;
	position: absolute;
	top: 50%;
	left:5px;
	color:#fff;
	text-align: center;
	font-size: 2em;
	font-weight:500;
	font-family:'Rubik',sans-serif;
}
.exp-coming-1 .exp-footer-social{
	display:flex;
	justify-content: center;
}
.exp-coming-1 .exp-footer-social li a:hover{
	color:#fff;
	background-color:#ff8400;
}

/* #Coming Soon 2
===================================*/
.exp-coming-2{
	padding:30px 0;
	min-height:100vh;
}
.exp-coming-2 .wrapper{
	padding:150px 0;
}

.exp-coming-2 .section-title{
	padding:30px 0;
	max-width:500px;
}
.exp-coming-2 .section-title p{
	padding-top:20px;
}

.exp-coming-2 .section-title h1 a{
	text-decoration:underline;
	font-size:45px;
	font-weight:700;
	color:#fff;
	text-underline-position:under;
}


.exp-coming-2 .counterup{
	display:flex;
	margin:30px 0;

}
.exp-coming-2 .counterup .wrap{

	margin-right:20px;
}
.exp-coming-2 .counterup .wrap p{
	text-align: center;
	color:#8c98b1;

}

.exp-coming-2 .counterup div .num{
	width:70px;
	height:60px;
	display:flex;
	border-radius:10px;
	color:#fff;
	margin-bottom:10px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	justify-content:center;
	align-items: center;
	background-color:#425d88;
}
.exp-coming-2 form .form-control{
	padding:15px;
	width:360px;
	margin-right:10px;
	border-radius:0;
	color:#fff;
	border-bottom-left-radius:30px;
	background-color:transparent;
}
.exp-coming-2 form .form-control:focus{
	outline:0;
	box-shadow:none;
	border-color:inherit;
}


.exp-coming-2 form .form-control::placeholder{
	color:#8c98b1;
}

.exp-coming-2 form .btn-primary{
	border-radius:0;
	padding:15px 40px;
	border-top-right-radius:30px;
	box-shadow:none;
}
.exp-coming-2 .exp-footer-social li a{
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
}
#exp-404{
	height:100vh;
	background-image:url('https://via.placeholder.com/1920X579');
	background-size:cover;
	background-position:center;

}
#exp-404 section{
	display:flex;
	justify-content: center;
	height:100vh;
	text-align: center;
	align-items: center;
	width:100%;
}
#exp-404 .content h6{
	margin:50px 0;
}
#exp-404 .content h6 a{
	text-decoration:underline;
	text-underline-position:under;
	color:#fff;
}

/* #Footer

=======================================*/

.exp-footer-style-2.section-padding{

	padding-bottom:0;

}

#exp-home6-footer .exp-wrapper li a:hover,

#exp-home6-footer .exp-wrapper li a:focus

{

	color: #ff8400;

}



.exp-footer-wrapper{

	padding:120px 0;

}

.exp-footer-style-2 p,

.exp-footer-style-2 h6,

.exp-footer-style-2 a{

	color:#fff;

	letter-spacing:.5px;



}

.exp-footer-style-2 .exp-logo{

	margin-bottom:15px;

}

.exp-footer-style-2 .exp-wrapper li a,

.exp-footer-style-2 .exp-wrapper  p{

	color:#b6c0d1;

}

.exp-footer-style-2 .exp-wrapper li a:hover{

	color:#ff8400;

}



.exp-footer-style-2 .exp-footer-item-left{

padding-right:50px;

}

.exp-footer-style-2 .exp-footer-item-right{

	padding-left:50px;

}



.exp-footer-style-2 .exp-footer-item-center-2{

	margin-left:10px;

}



.exp-footer-style-2 .exp-footer-item-center li,

.exp-footer-style-2 .exp-footer-item-center-2 li{

	margin-bottom:10px;

}

.exp-footer-style-2 .exp-footer-social{

	margin-top:50px;

}

 .exp-footer-social li a{

	width:45px;

	height:45px;

	display:flex;

	justify-content: center;

	align-items: center;

	background-color:rgba(0,0,0,0.2);

	margin-right:5px;

	color:#b6c0d1;

	border-radius:5px;

}

.exp-footer-style-2  .exp-footer-social li a:hover,

.exp-footer-style-2  .exp-footer-social li a:focus,

#exp-home6-footer .exp-footer-social  li a:hover,
#exp-home3-footer .exp-footer-social  li a:hover,
#exp-home6-footer .exp-footer-social  li a:focus{

	background-color:#ff8400;

	color:#fff;

}

.exp-footer-style-2 .exp-footer-item-right form .form-control{

	line-height:40px;

	padding:8px 16px;

	margin-top:8px;

	border-radius:50px;

	border:1px solid rgba(255,255,255,0.7);

	font-family:'Rubik',sans-serif;

}

.exp-footer-style-2 .exp-footer-item-right form .exp-btn-wrapper button{

	float:right;

	border-radius:50px;

	width:140px;

	height:56px;

}

.exp-footer-style-2 .seperator{

	margin:80px 0;

}

.exp-footer-style-2 .exp-footer-contact span i{

	margin-right:20px;

	color:#fff;

}

.exp-footer-style-2 .exp-footer-contact ul{

	margin-bottom:15px;

}



.exp-footer-style-2 .exp-footer-contact span{

	color:#fff;

}

.exp-footer-style-2 .exp-insta-feed ul{

	margin-bottom:0;

}

.exp-footer-style-2 .exp-footer-contact li a{

	color:#fff;

}

.exp-footer-style-2 .exp-insta-feed ul li{

		margin:2px 0;

}





.exp-footer-copyright .exp-copyright-left,

.exp-footer-copyright .exp-copyright-right

{

	padding:30px 0;



}

.exp-footer-copyright .exp-copyright-left a:hover,

.exp-footer-copyright .exp-copyright-left a:focus,

.exp-footer-copyright .exp-copyright-right ul li a:hover,

.exp-footer-copyright .exp-copyright-right ul li a:focus,

#exp-home6-footer .exp-footer-copyright a:hover,
#exp-home3-footer .exp-footer-copyright a:hover,
#exp-home6-footer .exp-footer-copyright a:focus{

	color:#ff8400;

}



.exp-footer-copyright .exp-copyright-right{

	float:right;

}

.exp-footer-copyright .exp-copyright-right ul li{

	margin-left:20px;

}



.exp-footer-copyright .exp-copyright-left p,

.exp-footer-copyright .exp-copyright-right ul{

	margin-bottom:0;

}





#exp-home6-footer h6,
#exp-home3-footer h6{

	color:#000;

}

#exp-home6-footer form .form-control,
#exp-home3-footer form .form-control{

	border:1px solid rgba(105,105,105,0.2);

}



#exp-home6-footer p,
#exp-home3-footer p,
#exp-home6-footer a,
#exp-home3-footer a,
#exp-home6-footer span,
#exp-home3-footer span{

	color:#5e5e5e;

}

#exp-home6-footer span i,
#exp-home3-footer span i{

	color:#ff8400;

}

#exp-home6-footer .seperator,
#exp-home3-footer .seperator{

	background-color: rgba(105,105,105,0.2);

}

#exp-home6-footer .exp-footer-social ul li a,
#exp-home3-footer .exp-footer-social ul li a{

	background-color:#fff2e5;

	color:#ff8400;

}

#exp-home6-footer .exp-footer-copyright .container,
#exp-home3-footer .exp-footer-copyright .container{

	border-top:1px solid rgba(105,105,105,0.2);

}

 #exp-home3-copyright .container{

	border:0;

}


#exp-home6-footer .exp-footer-wrapper{
	padding-top:0;
}
#exp-home6-footer .exp-footer-wrapper .seperator:nth-child(1){
	margin-top:0;
}






/* #Responsivness
================================================== */

@media(min-width:991px){
	.navbar-light .navbar-nav .nav-item:hover .dropdown-menu {
        display: block;
        animation:fadeIn .3s ease-in;
 }

}

@media (max-width: 1800px){
    .exp-project-3 .project-gallery .gallery-size{
      column-width: 26em;
    }
  }
  @media (max-width: 1500px){
    .exp-project-3 .project-gallery .gallery-size{
      column-width: 21.4em;
    }
  }







@media(max-width:1600px){
	.exp-home2-testimonial .exp-testimonial-item.slick-center .exp-testimonial-item-inner {
		transform:none;
		-webkit-transform:none;
		width:calc(100% - 150px);
	}

	.exp-project-4 .pro-img{
	width:calc(100% / 3) !important;
	}
	.exp-home2-portfolio .slick-modified-dots{
	width:100%;


	}
	.exp-home1-header img{
		width:100%;
	}
	.exp-home3-testimonial .slick-prev{
		left:-50px;
	}
	.exp-home3-testimonial .slick-next{
		right:-50px;
	}






}

@media(max-width:1200px){
	h1{
		font-size: 38px;
	}
	h6{
		font-size:18px;
	}

	.exp-footer-style-2 .exp-footer-item-center-2,
	.exp-footer-style-2 .exp-footer-item-right{
		margin-left:0;
		padding-left:0;
	}
	.exp-wrapper{
		margin:20px 0;
	}
	.exp-home1-header .exp-slick-dots{
		left:10%;
	}
	.exp-achievments .achievments-counter {
	padding: 30px 10px;
	}
	.exp-achievments .achievments-counter .icon-block{
		margin-right:10px;
	}

	.exp-achievments p{
		margin-bottom:30px;
	}
	.exp-services-6 .exp-services-item{
		padding:50px 15px;
	}
	.exp-home2-about .exp-about-wrapper{
		padding-top:20px;
	}
	.exp-home2-about .exp-about-title{
		padding-right:20px;
	}
	.exp-home2-product-a .exp-ceo{
		margin-top:20px;
	}

	.exp-ceo p{
		margin-bottom:0;
	}
	.exp-home2-product-b .exp-points{
		margin:0;
	}
	.exp-home2-download .download-circle{
		width:495px;
		height:495px;
		margin:0 auto;

	}
	.exp-about-product2  .exp-points{
	padding-top:5px;
	}

	.exp-about-workflow .workflow-item{
		padding:15px;
	}
	.exp-about-testimonial .exp-about1-slider .slick-arrow{
		right:17.2%;
		margin-top: 15%;
	}
	.exp-portfolio-1 .grid-sizer{
		width:calc(100% / 3);
	}
	.exp-project-5 .project-item{
		 width: calc((100% - 20px)/2);

	}
	.exp-project-4 .pro-img{
	width:calc(100% / 3) !important;
	}
	.exp-home2-testimonial .exp-testimonial-item.slick-center .exp-testimonial-item-inner {
		transform:none;
		-webkit-transform:none;
		width:calc(100% + 15px);
	}
	.exp-home2-portfolio .slick-modified-dots{
	width:100%;
	}
	.blue-top:after{
		display:none;
	}
	.exp-values.blue-top:after{
		display:block;
	}
	.exp-about-video .about-video-wrap{
		left:-10%;
		transform:none;
	}


	.exp-pricing-plans.exp-about-video .tab-pane{
		 padding:0;
	}
	.exp-about-video .exp-tab-wrap{
		margin-left:30px;
	}
	.exp-home2-testimonial .exp-testimonial-item .exp-testimonial-content:after{
		top:10px;
		right:10px;
	}
	.exp-home4-header .slick-modified-dots{
		position:static;
		width:100%;
		margin-top:20px;
		align-items: center;
		justify-content: center;
		flex-direction:row;
		text-align: center;

	}
	.exp-home4-countdown .col-content-center{
		margin-left:30px;
	}
	.exp-home4-contact .contact-img{
	margin:70px 0;
	}
	.banner-padding{
		padding:150px 0;
	}
	.exp-home5-header .slick-modified-dots{
		top:0;
	}
	.exp-home5-header.banner-padding{
		padding-bottom:100px;
	}
	.exp-project-3 .project-gallery .gallery-size{
      column-width: 17.2em;
    }
    .exp-home6-services .exp-product-content{
	padding-left:0;
	}








}



@media (max-width: 991px) {


	.section-title-center{
		padding-bottom:40px;
	}
	.exp-product-section .exp-product-content{
		padding:25px 0;

	}
	.exp-product-section .btn-top-70{
		margin-bottom:0;
	}


	.section-padding{
		padding:60px 0;
	}


	.exp-home1-header{
		padding:150px 0;

	}
	.btn-top-50,
	.btn-top-70{
		margin:30px 0;
	}

	.navbar-light .navbar-nav .nav-link,
	.start-header.scroll-on .navbar-light .navbar-nav .nav-link{
		padding:20px 5px;
	}
	.exp-footer-style-2 .exp-footer-item-center,
	.exp-footer-style-2 .exp-footer-item-center-2{
	margin-left:0;
	}
	.exp-footer-style-2 .exp-footer-item-right{
		padding:0;
	}

	.exp-footer-style-2 .exp-footer-item-right form .exp-btn-wrapper button{
	float:none;
	}

	.exp-footer-style-2 .seperator{
		margin:30px 0;
	}
	.exp-footer-copyright .exp-copyright-right{
	float:none;
	}
	.exp-footer-copyright{
		padding:20px 0;
	}

	.exp-footer-copyright .exp-copyright-left,
	.exp-footer-copyright .exp-copyright-right
	{
	padding:0;

	}

	.exp-footer-copyright .exp-copyright-right ul li{
		margin-left:10px;
	}
	.exp-home1-header .exp-slick-dots{
		text-align:center;
		bottom:-50px;
		left:0;
	}
	.exp-achievments-content{
		margin-top: 20px;
	}

	 .video-img .video-btn-wrapper{
		width:100%;
	}
	.exp-pricing-plans .exp-pricing-plans-inner{
		padding:10px;
	}


	.exp-pricing-plans .exp-pricing-plans-inner .exp-pricing-plans-mid ul li{
		margin:20px 0;
	}
	.exp-pricing-plans-2 .exp-pricing-plans-inner .exp-pricing-plans-mid ul li {
		margin:0;
	}
	.exp-pricing-plans .tab-pane{
		padding:0 15px;
	}
	.exp-pricing-plans .exp-pricing-plans-inner.top-80{
	margin-top:90px;
	}
	.exp-faq-1 .exp-tab-wrap ul li{
		margin-left:20px;
	}
	.exp-faq-1 .exp-tab-wrap ul{
		justify-content:center;
	}
	.exp-home2-thumbnail{
		display:none;
	}
	.exp-home2-header .slick-modified-dots{
		width:100%;
		text-align: center;
	}
	.exp-home2-header .exp-home2-banner{
		padding:150px 0;
	}
	.exp-home2-about.section-padding{
		padding:60px 0;
	}

	.exp-home2-about .col-lg-8{
		position:static;
	}
	.exp-home2-about .exp-about-wrapper{
		padding:0;
		margin:30px 0;
	}
	.container-wrapper .exp-img-wrapper.right-triangle:after{
		bottom:0;
	}

	.exp-home2-updates .exp-updates-author,
	.exp-services-1.exp-home2-updates .exp-services-wrapper .exp-services-content{
		padding:20px;
	}
	.exp-about-workflow .workflow-item{
		padding:30px;
	}
	.exp-about-testimonial .testimonial-item .testimonial-content{
		padding:0 20px;
	}
	.exp-about-testimonial .testimonial-item .testimonial-content p{
		margin:5px 0;
	}
	.exp-about-testimonial .slick-modified-dots{
		position:static;
	}
	.exp-achievments .achievments-counter{
		padding:20px;
	}
	.exp-portfolio-1 .grid-sizer{
		width:calc(100% / 3);
	}

	.exp-portfolio-2 .project-img{
		width:calc(100% / 2);
	}
	.exp-project-4 .pro-img{
	width:calc(100% / 2) !important;
	}
	.exp-contact-1 .exp-contact-card{
		margin:0;
		width:100%;
		margin-top:50px;
		height:auto;
	}
	.search_widget{
		margin-top:40px;
	}
	.sidebar_wrap{
		padding:0;
	}
	.col-reverse{
		flex-direction:column-reverse;
	}

	.exp-coming-1 .countdown .col-content-center:nth-child(2):after{
	display:none;
	}
	.exp-coming-1 .countdown{
		margin:50px 0;
	}
	.exp-home2-testimonial .exp-testimonial-slider2{
		padding: 0 50px;
	}
	.exp-home2-portfolio .slick-modified-dots{
	width:100%;
	margin-top:20px;
	margin:0 auto;
	text-align:center;
	}
	.exp-pricing-plans.blue-bottom.exp-pricing-plans-2.big-margin{
		margin-top:700px;
	}
	.exp-about-video .col-lg-8{
		position:static;
	}
	.exp-about-video .exp-about2-tab{
		padding-top:30px;
	}
	.exp-about-video .exp-tab-wrap {
    margin-left: 40px;
	}
	.container-wrapper .exp-img-wrapper.right-side,
	.exp-home2-product-b .container-wrapper .exp-img-wrapper.right-side{
		margin-bottom:20px;
	}
	.container-wrapper .exp-img-wrapper.right-triangle,
	.exp-home2-product-b .container-wrapper .exp-img-wrapper.right-triangle{

		margin-bottom:40px;
	}
	.exp-img-wrapper img{
		display:block;
		margin:0 auto;
		width:100%;
	}
	.exp-img-wrapper.right-triangle img,
	.exp-img-wrapper.right-side{
		float:none;
	}
	.exp-about-video .about-video-wrap{
		position:static;
	}
	.exp-home3-video:after{
		width:100%;
	}
	.exp-home3-video .col-lg-3{
		display:none;

	}
	.exp-home3-video .video-points .content{
		padding:0 10px;
	}
	.exp-home4-countdown .col-content-center{
		margin-left:0;
	}
	.exp-home4-values .container{
		padding-top:170px;

	}
	.exp-home4-video .video-btn-wrapper{
		margin-top:60px;
	}

	.exp-home4-video .content{
		padding:60px 70px;
		padding-bottom:0;
		text-align: center;
	}
	.exp-home4-pricing .faq-banner .wrapper{
		text-align: center;
	}
	.exp-home4-contact .video-img .video-btn-wrapper{
		width:100%;
		height:100%;
	}
	.exp-home4-contact .container-wrapper .exp-img-wrapper.right-side:after{
	height:100%;
	}
	.exp-home5-header .col-lg-8.col-content-center{
		align-items: center;
		text-align: center;

	}
	.exp-home5-header .col-lg-8.col-content-right{
		align-items: right;
		text-align: right;

	}
	.exp-home5-header .col-lg-8.col-content-center form{
		display: flex;
		justify-content: center;
	}

	.exp-home5-header .col-lg-4.col-content-center{
		align-items:center;
	}
	.exp-home5-header .video-btn-wrapper{
		padding:100px;
	}
	.exp-home5-header p{
		padding-right:0;
	}

	.exp-home5-header .slick-modified-dots{
		transform:none;
		text-align: center;
	}
	.exp-home5-testimonial.section-padding{
		padding-top:200px;
	}
	.exp-project-3 .project-gallery .gallery-size{
      column-width: 24em;
    }










}

@media (max-width: 767px) {
	article{
		margin: 0 auto 20px;
	}

	.title-padding-right{
		padding-right:0;
	}
	.video-img .video-btn-wrapper{
		width:100%;
	}
	.slick-modified-dots{
		padding:20px;
	}


	.exp-footer-copyright {
		text-align:center;
	}






	.start-header{
		background-color:#0f2952;
		padding:20px 0;
	}
	.start-header .seperator{
		display:none;
	}
	.exp-footer-style-2 .exp-footer-social{
		margin-top:20px;
	}

	.start-header.scroll-on{
		padding:20px 0;
	}
	.start-header.scroll-on .navbar-light .navbar-nav .nav-link,
	.navbar-light .navbar-nav .nav-link{
		padding:10px 0;
	}


	.mega-menu{
		height:200px;
		overflow-y:scroll;
		overflow-x:hidden;
	}
	.mega-menu h6{
		color:#fff;
		display:none;
	}

	.navbar-brand img{
		height:auto;
	}

	.navbar .nav-item:after{
		display: none;
	}
	.navbar .nav-item::before {
		position: absolute;
		display: block;
		top: 22px;
		left: 0;
		width: 11px;
		height: 1px;
		content: "";
		border: none;
		background-color: #fff;
		vertical-align: 0;
	}
	.dropdown-toggle::after {
		position: absolute;
		display: block;
		top: 17px;
		left: -23px;
		width: 1px;
		height: 11px;
		content: "";
		border: none;
		background-color: #fff;
		vertical-align: 0;
		transition: all 200ms linear;
	}
	.dropdown-toggle[aria-expanded="true"]::after{
		transform: rotate(90deg);
		opacity: 0;
	}
	.navbar-light .dropdown-menu {
		padding: 0;
		background-color: transparent;
		transition: all 200ms linear;
		border:0;
		box-shadow:none;
	}
	.nav-item.mega-menu-link{
		position:relative;
	}

	.dropdown-menu a{
		color:#eee;
		padding:5px 0;
		opacity:.9;
		border-bottom:1px solid rgba(255,255,255,0.1);
	}
	.dropdown-toggle[aria-expanded="true"] + .dropdown-menu {
		margin-top: 10px;
		margin-bottom: 20px;
	}
	.mega-menu .mega-menu-inner{
		padding:0 10px;
	}
	.mega-menu .mega-menu-inner .dropdown-item{
		padding: 10px 0;
	}
	.mega-menu .mega-menu-inner .dropdown-item:last-child,
	.navbar-light .dropdown-item{
		border-bottom:1px solid rgba(255,255,255,0.2);
	}
	#searchLink{
		display:none;
	}
	.dropdow-menu.search-form{
		display:block;
	}
	.achievments-counter.d-flex{
		flex-direction:column;
		align-items:center;
		text-align: center;
	}
	.exp-home1-header .slick-modified-dots{
		text-align:center;
	}


	.achievments-counter.d-flex .icon-block{
		margin-bottom: 20px;
		margin-right:0;
	}
	.exp-contact-us .contact-us-wrapper:before{
		width:100%;
		left:0;
	}
	.exp-pricing-plans .exp-pricing-plans-inner.top-80{
	margin-top:20px;
	}
	.exp-faq-1 .tab-content{
		padding:0;
	}
	.exp-about-testimonial .testimonial-item{
		display:block;
	}
	.exp-about-testimonial .testimonial-item .testimonial-content{
		margin:20px 0;
		padding:0;
		text-align: center;
	}
	.exp-about-testimonial .testimonial-item .testimonial-content span{
		float:left;
		font-size:30px;
	}



	.exp-about-testimonial .testimonial-item .author{
		justify-content: center;
	}
	.exp-about-testimonial .testimonial-item .author span{
		display:none;
	}
	.exp-about-testimonial .testimonial-item .author div{
		margin-left:0;
	}

	.exp-portfolio-1 .grid-sizer{
		width:calc(100% / 1)
	}
	.exp-portfolio-2 .project-img{
		width:calc(100% / 1);
	}
	.exp-project-3 .pro-img{
		width:100%;
	}
	.exp-project-5 .project-item{
	width:100%;
	}
	.exp-project-4 .pro-img{
	width:100% !important;
	}
	.exp-coming-1 .countdown .col-content-center:after{
		position:static;
	}

	.exp-coming-1 .countdown .col-content-center:nth-child(2):after{
		display:block;
	}

	.exp-coming-2 .form-group{
		margin-bottom:20px;
	}
	.exp-home2-testimonial .exp-testimonial-slider2{
		padding: 0 20px;
	}
	.exp-home2-testimonial .exp-testimonial-item .exp-testimonial-item-inner{
		display:block;
	}
	.exp-home2-testimonial .exp-testimonial-item .exp-testimonial-img img{
		margin:0 auto;
	}
	.exp-home2-testimonial .exp-testimonial-item .exp-testimonial-content{
		width:100%;
		margin:0;
		padding:10px 0;
		text-align:center;
	}
	.exp-home2-testimonial .exp-testimonial-item .exp-testimonial-content .exp-author{
		display:block;
	}
	.exp-home2-testimonial .exp-testimonial-item .exp-testimonial-content .exp-author span{
		display:none;
	}
	.exp-home2-testimonial .exp-testimonial-item .exp-testimonial-content .exp-author div{
			margin-left:0;
	}
	.exp-home2-portfolio .portfolio-cont .col-12{
		position: static;
		padding-right:15px;
		padding-left:15px;
	}
	.exp-home2-portfolio .home2-portfolio .item{
		margin-left:0;
	}

	.exp-pricing-plans.blue-bottom.exp-pricing-plans-2.big-margin{
		margin-top:0;
	}
	.exp-about-video .about-video-wrap{
		display:block;
	}
	.exp-about-video .vid-img{
		margin-top:50px;
	}

	.exp-about-video .vid-img img{
		width:100%;
	}
	.exp-img-wrapper img{
		display:block;
		margin:0 auto;
		width:100%;
	}
	.exp-img-wrapper.right-triangle img{
		float:none;
	}
	.exp-about-video .col-lg-8,
	.exp-about-video .about-video-wrap{
		width:100%;
	}
	.exp-project-2.exp-home2-portfolio:before{
		height:100%;
	}
	.exp-coming-2 form .form-control{
		width:250px;
	}
	.exp-home4-about .about-img img{
		float:none;
	}
	.exp-home4-video .content{
		padding:60px 20px;
		padding-bottom:0;
	}
	.exp-home4-video .video-box{
		padding:60px 30px;
	}
	.exp-project-3 .project-gallery .gallery-size{
      column-width: 19em;
    }







}

@media (max-width: 567px) {
	.container-wrapper .exp-img-wrapper{
		padding:0;
	}
	.container-wrapper .exp-img-wrapper.right-side:after{
		right:0;
	}
	.exp-testimonial-1 .exp-testimonial-content{
		padding:20px;
		left:5px;
		margin-right:5px;
		bottom:25px;
	}
	.exp-testimonial-1 .exp-testimonial-content.margin-right-10{
		margin-right:5px;
	}
	.exp-stylish-border:before{
		top:-75px;
	}
	.exp-pricing-accordion .card .card-header button{
		font-size:13px;
	}
	.exp-pricing-accordion .card-body h6{
		font-size:13px;
	}
	.exp-pricing-accordion .card .card-body p{
		width:100%;
		font-size:12px;
		line-height:24px;
	}
	.container-wrapper .exp-img-wrapper.right-triangle:after{
		bottom:20px;
	}
	.exp-home2-updates .exp-updates-author,
	.exp-services-1.exp-home2-updates .exp-services-wrapper .exp-services-content{
		padding:20px;
	}
	.exp-home2-download .download-circle{
		width:360px;
		height:360px;

	}
	.exp-portfolio .grid-sizer, .exp-portfolio .grid-item{
		margin-left:-25px;
	}
	.exp-project-2 .exp-tab-wrap ul{
		display:flex;
		flex-direction:column;
		width: 100%;
		border-radius:1px;
		padding:0;
	}

	.exp-project-2 .exp-tab-wrap ul li a{
		padding: 10px;
	}
	.exp-project-5 .project-item{
		width:100%;
	}

	.exp-coming-2 .counterup .wrap{
		margin-right:5px;
	}
	.exp-home3-blog .post-article .exp-link-wrap{
		display:block;
	}
	.exp-about-product2 .exp-points.margin-l-30,
	.exp-about-product2 .exp-points.margin-l-50{
		margin-left:0;
	}
	.exp-about-product2 .exp-points.d-flex{
		flex-direction:column;
		align-items: center;
		text-align: center;
	}
	.exp-about-product2 .exp-num-block{
		margin-right:0;
		padding-bottom:30px;
	}

	.exp-home3-header {
		border-radius:0;
	}
	.exp-home3-header svg {
		display:none;
	}
	.exp-home4-video .content{
		padding:60px 0;
		padding-bottom:0;
	}
	.exp-home5-header form .input-group-append{
		margin-left:0;

	}
	.exp-project-3 .project-gallery .gallery-size{
      column-width: 22em;
    }



}


@media (max-width: 470px) {
	.exp-coming-2 form .form-control{
		margin-bottom:20px;
	}
	.exp-home3-project .exp-tab-wrap{
		justify-content: center;
		text-align: center;
	}

	.exp-home3-project .exp-tab-wrap ul{
		display:block;
	}
}
@media (max-width: 450px) {
.exp-tag-social span{
		margin-top:20px;
	}
	.social-share .social-icons li{
		margin-top:20px;
	}
}




@media (max-width: 340px) {
	.exp-home3-price .exp-tab-wrap{
		margin-left:0;

	}
	.exp-home3-price .exp-tab-wrap ul{
		flex-direction:column;
	}
	.exp-pricing-plans .exp-tab-wrap .nav-pills .nav-item .nav-link{
		border:1px solid silver;
	}

	.exp-pricing-plans .exp-tab-wrap .nav-pills .nav-item .nav-link:before{
		display:none;
	}
}
